$yashil: #17696A;
$backgroundqora: rgba(128, 128, 128, 0.9);
$backgroundgrey: rgba(128, 128, 128, 0.3);
$backgroundoq:  #E5E5E5;

@import 'base.scss';
@import 'showcase.scss';
@import 'second.scss';
@import 'third.scss';
@import 'four.scss';
@import 'five.scss';
@import 'six.scss';
@import 'seven.scss';
@import 'eight.scss';
@import 'nine.scss';
@import 'ten.scss';
@import 'footer.scss';
